{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
  <title>Machine Design</title>
  
 <style>
 table, th, td {
  border: 1px solid black;
  border-collapse: collapse;}
  
  th
  {
    padding: 50px;
  }
  img {
  max-width: 95%;
  height: auto;
}
#mybtn {
  
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 2px;
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

#mybtn:hover {
  background-color: #555;
}
 </style>
<body>
   <button onclick="topFunction()" id="mybtn" title="Go to top"><i class="fa fa-angle-double-up" style="font-size:36px"></i></button>
    <div class="col-lg-12">
        <div class="jumbotron text-center" style="background-color: teal; color: white;">
  <h2>MECHANICAL ENGINEERING</h2>
</div>
  <OL style="margin-left: 25px;">
    <h3> <LI><b>MACHINE DESIGN AND DRAWING</b>:-</LI></h3>
	  <ol type="a">
	  <li>Stock price:- 803.85</li>
	  <li>Volume traded:- 22,32,551</li>
      <li>Course IC:-</li><h4><b>Dr. Rishabh Waigonkar</b></h4>
	  <h5>Qualifications</h5>
	  <ul style="list-style-type:circle">
	  <li>He has completed his doctoral studies in Polymer and Composite Processing from BITS Pilani.</li>
	  <li>He has completed his Master’s Degree in Production Engineering from Govt.College of Engineering, Pune (Presently Pune Institue of Technology).</li>
      <li>B. E. (Mechanical Engineering), MGM, s College of Engineering, Nanded, Maharashtra (1998)</li>
      <li>He has visited Poznan University of Technology (PUT), Poland in 2016 and worked with Prof. Marek Szostak, Director of Materials Technology, PUT, Poland.</li>
      <li>He was invited in the Industrial Engineering Department of the host university to deliver a talk on BITS Model of Education.</li>
    </ul>
    <li>About:-</li>
    <ul style="list-style-type:circle">
	<li>A Machine design is the process of engineering design. A machine is made up of mechanisms that work together to satisfy the requirements of what the machine needs to accomplish.</li>
	</ul>
	 <li>The below graphs show the past one year's price data.</li>
    <img src="{% static 'image/MandM.PNG' %}" width="800px" height="600px">
    <img src="{% static 'image/MandMcandlestick.png' %}" width="800px" height="600px">
      <li>Placement:-</li>
      <div style="overflow-x:auto;">
	  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Year</th>
        <th>Total Registered</th>
        <th>%Placed</th>
		<th>Average CTC(LPA)</th>
		<th>Median CTC(LPA)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2014</td>
        <td>24</td>
		<td>62.5%</td>
		<td>6.72</td>
		<td>7.06</td>
      </tr>
	  <tr>
        <td>2015</td>
        <td>35</td>
		<td>62.8%</td>
		<td>7.82</td>
		<td>8.06</td>
      </tr>
	  <tr>
        <td>2016</td>
        <td>48</td>
		<td>64.58%</td>
		<td>9.12</td>
		<td>9.36</td>
      </tr>
	  <tr>
        <td>2017</td>
        <td>49</td>
		<td>67.34%</td>
		<td>9.92</td>
		<td>10.04</td>
      </tr>
	  <tr>
        <td>2018</td>
        <td>53</td>
		<td>66.81%</td>
		<td>10.03</td>
		<td>10.22</td>
      </tr>
    </tbody>
  </table>
  </div>
  <li>Average CG:-</li>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Year</th>
        <th>Avreage CG</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2014</td>
        <td>7.6</td>
      </tr>
	  <tr>
        <td>2015</td>
        <td>7.9</td>
      </tr>
	  <tr>
        <td>2016</td>
        <td>8.2</td>
	  <tr>
        <td>2017</td>
        <td>8.16</td>
      </tr>
	  <tr>
        <td>2018</td>
        <td>8.06</td>
      </tr>
    </tbody>
  </table>
  </ol>
  </OL>
  </div>
 <script type="text/javascript">
    window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("mybtn").style.display = "block";
  } else {
    document.getElementById("mybtn").style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}

</script>
  {% endblock %}