{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
  <title>Marcoeconomics</title>
  
 <style>
 table, th, td {
  border: 1px solid black;
  border-collapse: collapse;}
  
  th
  {
    padding: 50px;
  }
  img {
  max-width: 95%;
  height: auto;
}
#mybtn {
  
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 2px;
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

#mybtn:hover {
  background-color: #555;
}

 </style>
<body>
     <button onclick="topFunction()" id="mybtn" title="Go to top"><i class="fa fa-angle-double-up" style="font-size:36px"></i></button>
    
    <div class="col-lg-12">
        <div class="jumbotron text-center" style="background-color: teal; color: white;">
                <h2>M.Sc. Economics</h2>
            </div>
            
                <OL style="margin-left: 25px;">
                <h3><li><b>MACROECONOMICS</b>:-</li></h3>
                <ol type="a">
                    <LI>Stock Prices: 723.15</LI>
                    <li>Volume traded- 18,14,655</li>
                </ol>
                <ol type="a">
                    <div class="section">
                    <li><big><u>Course IC-</u></big><br>
                    <h4><b>Ms. Deshmukh</b></h4>
                    <h4><i> Qualifications:</i></h4>
                    <ul type="circle">
                        <li>Post-doctoral researcher: University of Oxford. </li>
                        <li>PhD in Economics: Institute for Social and Economic Change (ISEC), Bangalore. </li>
                        <li>PhD intern: University of Calgary, Canada. </li>
						<li>MSc in Health economics, policy and law: Erasmus University Rotterdam.</li>
						<li>MA in Economics: University of Calicut.</li>
						<li>BA in Economics: University of Calicut.</li>
						<li>B.Ed. in Social studies: University of Kannur.</li>
                    </ul>
                    <h4><i>About the faculty:</i></h4>
                    <ul type="circle">
                    <li>He joined BITS Pilani KK Birla Goa campus in 2017. Prior to that, he worked as faculty member at a number of organizations for nearly 10 years: Azim Premji University Bangalore; Public Health Foundation of India (PHFI), New Delhi; Indian Council for Research on International Economic Relations (ICRIER), New Delhi; Government College Kasaragod. His research expertise are centered on i) Macroeconomics and Health, ii) Health system and Financing, and iii) Prevention and Management of Chronic Diseases, and iv) Impact Assessment of Public Policies. About Macroeconomics and Health, his work has examined the feasibility of applying fiscal policies for preventing these diseases, and the impact of high food prices on nutrition.</li>
                    </ul>
                    <h4><i>About:</i></h4>
                    <ul type="circle">
                    <li>The branch of economics concerned with large-scale or general economic factors, such as interest rates and national productivity.</li>    
                     </ul></li>
                     <li>The below graphs show the past one year's price data.</li>
                     <img src="{% static 'image/Tech Mahindra.PNG'%}" width="800px" height="600px">
                     <img src="{% static 'image/Tech Mahindra candlestick.png'%}" width="800px" height="600px">
                    <li><big><u>Placements:</u></big>
                        <div style="overflow-x:auto;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Year</th>
                                    <th>Total Registered</th>
                                    <th>% Placed</th>
                                    <th>Average CTC(LPA)</th>
                                    <th>Median CTC(LPA)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2014</td>
                                    <td>23</td>
                                    <td>56.52%</td>
                                    <td>7.58</td>
                                    <td>7.93</td>
                                </tr>
                                <tr>
                                    <td>2015</td>
                                    <td>31</td>
                                    <td>51.61%</td>
                                    <td>7.55</td>
                                    <td>7.88</td>
                                </tr>
                                <tr>
                                        <td>2016</td>
                                        <td>38</td>
                                        <td>57.89%</td>
                                        <td>9.34</td>
                                        <td>9.66</td>
                                </tr>
                                <tr>
                                        <td>2017</td>
                                        <td>44</td>
                                        <td>61.36%</td>
                                        <td>10.78</td>
                                        <td>11.14</td>
                                </tr>
                                <tr>
                                        <td>2018</td>
                                        <td>51</td>
                                        <td>66.67%</td>
                                        <td>11.78</td>
                                        <td>11.14</td>
                                </tr>

                            </tbody>
                        </table></li>
                        </div>
                        <li><big><u>Average CG:</u></big>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Year</th>
                                        <th>Average CG</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2014</td>
                                        <td>7.34</td>

                                        
                                    </tr>
                                    <tr>
                                            <td>2015</td>
                                            <td>7.41</td>
                                    </tr>
                                    <tr>
                                            <td>2016</td>
                                            <td>7.13</td>
    
                                            
                                    </tr>
                                    <tr>
                                        <td>2017</td>
                                        <td>7.21</td>
                                    </tr>
                                    <tr>
                                        <td>2018</td>
                                        <td>7.22</td>
                                    </tr>
                                    
                                    
                                    

                                </tbody>
                            </li>
                        </table>
                    </li>
                </ol>
                </li>
                    
                    
                
                        </li>
                
                </li>

                    </li>
                </ol>
               
                </li>
            </ol>

          </div>
          
            
          </div>
        
      </div>

 <script type="text/javascript">
    window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("mybtn").style.display = "block";
  } else {
    document.getElementById("mybtn").style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}

</script>
      {% endblock %}