{% extends 'base.html' %}

{% block content %}
  <title> Trade </title>
  
  <!-- Tried placing it in link block, doesnt work. --->
  <style type="text/css">
    }
    .text-center{
        background-color: rgba(0,128,128,0.8);
        color:white;
    }

    h1{
      color: black;
    }
  </style>

<div class="text-center">
  <br>    
  <h1>Market Closed</h1>
  <br>
  <h3>Market has been closed for the day. Visit again during trading hours to place orders.</h3>
  <!--time ahould change.-->
  <h2>Market Timing : 9 am to 5 pm.</h2>
  <br><br>
  <br>
</div>

</div>
{% endblock %}