{% extends 'base.html' %}
{% block content %}
  <title>Stockpages
  </title>
  
<style type="text/css">

  .card{
    background-color: rgba(0,128,128,0.8);
    padding: 10px;
    margin-bottom: 3px;
  }
  p{
    color: white;
    height: 24px;
  }
  .card:hover {
  background-color: #0C7898  ;
}
  a:hover {text-decoration: none;
  
  }
</style>

<h2 style="text-align: center; margin-bottom: 20px;font-family: Raleway;">STOCKS INFO</h2>
<div class="row">

<div class="col-lg-6">
 
<div class="card">
  <a href="{% url 'AnalogElectronics' %}">
    <div class="card-body text-center">
      <p class="card-text"> ANALOG ELECTRONICS</p>
    </div>
  </a>
</div>
</div>
<div class="w3-hover-red">
<div class="col-lg-6">
 
  <div class="card">
    <a href="{% url 'PowerElectronics' %}">
    <div class="card-body text-center">
      <p class="card-text"> POWER ELECTRONICS</p>
    </div>
  </a>
    </div>
  </div>
</div>
</div>
  <br>
  <div class="row">
  <div class="col-lg-6">
    
  <div class="card">
    <a href="{% url 'DNA' %}">
    <div class="card-body text-center">
      <p class="card-text">RECOMBINANT DNA TECHNOLOGY</a></p>
    </div>
  </a>
  </div>
</div>
  <div class="col-lg-6">
  <div class="card">
    <a href="{% url 'Bioinformics' %}">
    <div class="card-body text-center">
      <p class="card-text">BIOINFORMICS</p>
    </div></a></div>
  </div></div>
  <br>
  <div class="row">
  <div class="col-lg-6">
  <div class="card">
    <a href="{% url 'ProcessDesign' %}">
    <div class="card-body text-center">
      <p class="card-text">PROCESS DESIGN PRINCIPLES</p>
    </div></a></div>
  </div>
  <div class="col-lg-6">
    
  <div class="card">
    <a href="{% url 'HeatTransfer' %}">
    <div class="card-body text-center">
      <p class="card-text">HEAT TRANSFER</p>
    </div></a></div>
  </div></div>
  <br>
  <div class="row">
  <div class="col-lg-6">
    <a href="{% url 'FluidMechanics' %}">
  <div class="card">
    <div class="card-body text-center">
      <p class="card-text">FLUID MECHANICS</p>
    </div></a></div>
  </div>
  <div class="col-lg-6">
  <div class="card">
    <a href="{% url 'MachineDesign' %}">
    <div class="card-body text-center">
      <p class="card-text">MACHINE DESIGN AND DRAWING</p>
    </div>
  </a>
</div>
  </div></div><br>
  <div class="row">
  <div class="col-lg-6">
  <div class="card">
    <a href="{% url 'Algebra1' %}">
    <div class="card-body text-center">
      <p class="card-text">ALGEBRA 1</p>
    </div></a></div>
  </div>
    <div class="col-lg-6">
  <div class="card">
    <a href="{% url 'ElementaryRealAnalysis' %}">
    <div class="card-body text-center">

      <p class="card-text">ELEMENTARY REAL ANALYSIS</p>
    </div></a></div>
  </div></div><br>
  <div class="row">
  <div class="col-lg-6">
  <div class="card">
    <div class="card-body text-center">
      <a href="{% url 'Macroeconomics' %}">
      <p class="card-text">MACROECONOMICS</p>
    </div></a></div>
  </div>
  <div class="col-lg-6">
  <div class="card">
    <a href="{% url 'AppliedEconometrics' %}">
    <div class="card-body text-center">
      <p class="card-text">APPLIED ECONOMETRICS</p>
    </div></a></div>
  </div>
  </div><br>
  <div class="row">
    <div class="col-lg-6">
  <div class="card">
    <a href="{% url 'AnalogAndDigital' %}">
    <div class="card-body text-center">
      <p class="card-text">ANALOG AND DIGITAL VLSI DESIGN</p>
    </div></a></div>
  </div>
  <div class="col-lg-6">  <div class="card">
    <a href="{% url 'IndustrialInstrumentation' %}">
    <div class="card-body text-center">
      <p class="card-text">INDUSTRIAL INSTRUMENTATION AND CONTROL</p>
    </div></a></div>
  </div></div><br>
  <div class="row">
  <div class="col-lg-6">
  <div class="card">
    <a href="{% url 'CommunicationSystem' %}">
    <div class="card-body text-center">
      <p class="card-text">COMMUNICATION SYSTEM</p>
    </div></a></div>
  </div>
    <div class="col-lg-6">
  <div class="card">
    <a href="{% url 'Microelectronic' %}">
    <div class="card-body text-center">
      <p class="card-text">MICROELECTRONIC CIRCUITS</p>
    </div></a></div>
  </div></div><br>
  <div class="row">
  <div class="col-lg-6">
  <div class="card">
    <a href="{% url 'NeuralNetwork' %}">
    <div class="card-body text-center">
      <p class="card-text">NEURAL NETWORKS</p>
    </div></a></div>
  </div>
  <div class="col-lg-6">
  <div class="card">
    <a href="{% url 'ComputerArchitecture' %}">
    <div class="card-body text-center">
      <p class="card-text">COMPUTER ARCHITECTURE</p>
    </div></a></div>
  </div></div>
  </div>
</div>

{% endblock %}