{% extends 'base.html' %}

{% block content %}
  <title> Trade </title>
  
  <!-- Tried placing it in link block, doesnt work. --->
  <style type="text/css">
   
    .center{
        text-align:"center";
    }
   
    form{
        height: 100%;
    }
    .text-center{
        background-color: teal;
        color:white;
    }
    label{
        color:black;
    }

    .alert {
      padding: 20px;
      background-color: #f44336;
      color: white;
      opacity: 1;
      transition: opacity 0.6s;
      margin-bottom: 2px;
    }

    .alert.success {background-color: #4CAF50;}
    .alert.info {background-color: #2196F3;}
    .alert.warning {background-color: #ff9800;}

    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }

    .closebtn:hover {
      color: black;
    }
  </style>

<div class="text-center">
  <br>    
  <h3 style="font-family: Raleway;">Stock trading page</h3>
  <!--time ahould change.-->
  Market Timing : 9 am to 5 pm.
  <br><br>
  <h5>ORDER STOCK</h5>
  <h6> Long orders may take upto 2 mins to execute </h6>
  
  <br>
</div>

  {% if errorMsg %}
    <div class="alert">
      <span class="closebtn">&times;</span>  
      <strong>Sorry! </strong> {{ errorMsg }}
    </div>
  {% endif %}

  {% if success %}
    <div class="alert success">
      <span onclick="location.href='{% url 'trade' %}';" class="closebtn">NEXT</span>  
      <strong>Success!</strong> Trade request successfully placed!
    </div>
  {% endif %}

  {% if warning %}
    <div class="alert warning">
      <span class="closebtn">&times;</span>  
      <strong>Warning!</strong> This trade may take upto 3 mins.
    </div>
  {% endif %}

<div class="container">
<br>
  <form method="POST" action="{% url 'trade' %}">
  {% csrf_token %}
    <div class="form-group">
      <div class="row">
        <div class="col-lg-6"> <label for="exampleFormControlInput1"> STOCK NAME </label> </div>
        <div class="col-lg-6">
          <select class="form-control form-control-sm" name="stockId">
              <!--stock names.-->
              <option value="cs01">Neural Networks</option>
              <option value="cs02">Computer Architecture</option>
              <option value="ece01">Communication Systems</option>
              <option value="ece02">Microelectronic Circuits</option>
              <option value="eee01">Analog Electronics</option>
              <option value="eee02">Power Electronics</option>
              <option value="bio01">Recombinant DNA Technology</option>
              <option value="bio02">Bioinformatics</option>
              <option value="chem01">Process Design Principles</option>
              <option value="chem02">Heat Transfer</option>
              <option value="mech01">Fluid Mechanics</option>
              <option value="mech02">Machine Design and Drawing</option>
              <option value="math01">Algebra 1</option>
              <option value="math02">Elementary Real Analysis</option>
              <option value="eco01">Macro Economics</option>
              <option value="eco02">Applied Econometrics</option>
              <option value="eni01">Analog and Digital VLSI Design</option>
              <option value="eni02">Industrial Instrumentation and Control</option>
          </select>
        </div>
      </div>
    </div>
        
    <div class="form-group">
      <div class="row">
        <div class="col-lg-6"> <label for="exampleFormControlInput1">TRANSACTION</label> </div>
        <div class="col-lg-6">
          <select class="form-control form-control-sm" name="transType">
            <option value="buy">Buy</option>
            <option value="sell">Sell</option>
          </select>
        </div>
      </div>
    </div>
          
    <div class="form-group">
      <div class="row">
        <div class="col-lg-6"> <label for="exampleFormControlInput1">QUANTITY</label> </div>
        <div class="col-lg-6">
          <input type="number" class="form-control" id="exampleFormControlInput1" name="stockQty" required>
        </div>
      </div>
    </div>
          
    <div class="form-check">
      <div class="row">
        <div class="col-lg-6"> <label for="exampleFormControlInput1" style="text-align:left">PRICE</label></div>
        <div class="col-lg-6">
          <input class="form-check-input" type="radio" name="execType" id="Mkt" value="market" checked/>
          <label class="form-check-label" for="Mkt"> Market </label>
          <br>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-lg-6">
          <input class="form-check-input" type="radio" name="execType" id="Lim" value="limit" checked>
          <label class="form-check-label" for="Lim">
              Limit   $
          <input type="number" class="form-control" id="exampleFormControlInput1" name="limitAskingPrice">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <input class="form-check-input" type="radio" name="execType" id="execType3" value="stop" checked>
            <label class="form-check-label" for="execType3">
                Stop   $
            <input type="number" class="form-control" id="exampleFormControlInput1" name="stopAskingPrice"> 
            </label>
          </div>
      </div>
      <center>                       
      <div class="w3-panel" style="width:50%">
        <button class="w3-button w3-block w3-teal" type="submit" value="Submit">Trade</button>
      </div>
      </center>

    </div>
    <br><br>
  </form>

  <script>
    var close = document.getElementsByClassName("closebtn");
    var i;

    for (i = 0; i < close.length; i++) {
      close[i].onclick = function(){
        var div = this.parentElement;
        div.style.opacity = "0";
        setTimeout(function(){ div.style.display = "none"; }, 600);
      }
    }
  </script>
</div>
{% endblock %}